body{
    margin:0;
    font-family:Arial;
    background:black;
    color:white;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

h1{
    font-size:60px;
}

p{
    font-size:25px;
}

button{
    padding:15px 40px;
    font-size:20px;
    border:none;
    background:red;
    color:white;
    border-radius:10px;
}